@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .shadow-me{
        box-shadow: 6px 6px 4px 0px rgba(246, 246, 246, 0.25)
    }
    .error{
        font-size: small;
        color: rgb(255, 54, 19);
    }

    .swiper-button-prev {
        background-color: #fff;
     }
    .swiper-button-next {
        width: 10px;
        background-color: #fff;
     }
}